.container {
  width: 100%;
  height: 100vh;
  font-family: "Oswald", sans-serif;
}

.forest {
  background: url("https://images.pexels.com/photos/192136/pexels-photo-192136.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
    repeat fixed 100%;
}

.parallax {
  background-size: cover;
  height: 400px;
}

.parallax .parallaxInner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  letter-spacing: 1px;
}

.parallaxWrapper {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.background {
  background-position: center;
  background-size: cover;
  /* display: flex;
  flex: 1 0 auto; */
  position: relative;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  /* justify-content: center;
  align-items: center; */
  transform: translateZ(-1px) scale(2);
}

.spring {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/da/Precincts_of_Watari-jinja_shrine_in_Spring_season_2.JPG");
}

.summer {
  background-image: url("https://images.pexels.com/photos/375152/summer-sun-blooming-season-375152.jpeg?cs=srgb&dl=beautiful-bloom-blossom-375152.jpg&fm=jpg");
}
.fall {
  background-image: url("https://images.pexels.com/photos/33060/road-forest-season-autumn.jpg?cs=srgb&dl=autumn-fall-forest-33060.jpg&fm=jpg");
}
.winter {
  background-image: url("https://images.pexels.com/photos/235595/pexels-photo-235595.jpeg?cs=srgb&dl=branches-cold-season-235595.jpg&fm=jpg");
}

.title {
  position: absolute;
  top: calc(50% - 50px);
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: white;
  font-size: 5rem;
  background: rgba(0, 0, 0, 0.4);
}

.seasonDesc {
  z-index: 1;
  position: relative;
  background: #282e34;
  color: white;
  font-size: 1.1rem;
  letter-spacing: 2px;
  line-height: 2em;
  padding: 3rem;
  height: 100vh;
  margin: 0;
  display: flex;
}

.seasonDesc .descWrapper {
  margin: auto;
  box-sizing: border-box;
}

.seasonDesc .seasonTitle {
  text-align: center;
  font-size: 4rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 20px 0;
}

.seasonDesc .seasonAbout {
  margin-top: 50px;
  padding: 0;
}

.wrapper {
  position: relative;
  height: 100%;
}

.bgImage {
  background-image: url("https://images.pexels.com/photos/192136/pexels-photo-192136.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  filter: blur(4px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.bgText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
  border: 4px solid #f1f1f1;
  color: white;
  font-weight: bold;
  width: 75%;
  padding: 24px;
  text-align: center;
}
