.container {
  width: 100%;
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 120px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 1);
  transition: 1.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .header div {
  width: 100px;
}

.header div img {
  width: 100%;
  object-fit: cover;
  image-rendering: pixelated;
  filter: invert(1);
} */
.header div h1 {
}
.header div small {
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.header div small span {
  width: 20%;
  height: 2px;
  background-color: #333;
}

.body {
  width: 100%;
  /* min-height: calc(100vh - 216px); */
  /* padding-top: 120px; */
  padding: 120px 2rem 0;
  max-width: 768px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: #333;
}

.body .banner {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: flex-end;
}

.body .banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("https://images.unsplash.com/photo-1497864149936-d3163f0c0f4b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80");
  background-size: cover;
  /* filter: blur(0.6rem); */
  transition: all 0.5s ease-out;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: flex-end;
  z-index: -1;
  opacity: 0.8;
}

.body .banner .bannerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 2rem;
}

.body .banner .bannerText a {
  text-decoration: none;
}

.body .banner .bannerText h1 {
  color: #008afc;
}

.body .banner .bannerText button {
  width: 240px;
  height: 40px;
  color: #ffffff;
  background: #66b8fd;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  margin-top: 16px;
  padding: 0 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease-out;
}

.body .banner .bannerText button:hover {
  background-color: #0e4791;
}

.body .banner .bannerText button:disabled {
  cursor: not-allowed;
  background: #66b8fd;
}

.body .aboutUs {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.body .aboutUs .aboutUsText {
  flex: 1;
}

.body .aboutUs .aboutUsText h2 {
  margin-bottom: 0.8rem;
}

.body .aboutUs .image {
  flex: 1;
}

.body .aboutUs .image img {
  width: 100%;
  object-fit: cover;
}

.body .alliance h2 {
  margin-bottom: 0.8rem;
}

.body .alliance .allianceItem {
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  gap: 1rem;
  justify-content: space-evenly;
}

.body .alliance .allianceItem img {
  width: 100%;
  object-fit: cover;
}

.body .contactUs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.body .contactUs h2 {
  align-self: center;
  margin-bottom: 0.8rem;
}

.body .contactUs .contactUsItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.8rem;
}

.body .contactUs .contactUsItem:last-of-type {
  margin-bottom: 0rem;
}

.body .contactUs .contactUsItem .contactUsIcon {
  background: #66b8fd;
  height: 40px;
  min-width: 40px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 40px; */
}

.footer {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 2rem;
  margin-top: 3rem;
}

.footer .footerItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.footer .footerItem .footerText {
  text-align: center;
}

.footer .footerItem .footerText br {
  display: none;
}

.footer .footerItem .footerIcons {
  display: flex;
  gap: 1rem;
}

.footer .footerItem .footerIcons .footerIcon {
  background: #ffffff;
  height: 40px;
  min-width: 40px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

@media (max-width: 768px) {
  .body .aboutUs {
    flex-direction: column;
  }
  .body .alliance .allianceItem {
    display: grid;
    grid-template-columns: 45% 45%;
  }
  .footer .footerItem {
    flex-direction: column;
    row-gap: 1rem;
  }
  .footer .footerItem .footerText br {
    display: block;
  }
}
